---
layout: posts
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/css/main.css">
        <script src="https://unpkg.com/particle-bg/lib/particle-bg.umd.min.js"></script>
        <style>
           canvas {
               position: absolute;
               left:0;
               right:0;
               top:0;
               bottom:0;
            }
        </style>
    </head>
    <body>
        <ul>
            {% for crx in site.crxs %}
            <li><a href="{{ crx.url }}">{{ crx.title }}</a></li>
            {% endfor %}
        </ul>

        <script>
          particleBg('body',{
              zIndex:-1
          });
        </script>
    </body>
</html>
