---
layout: posts
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }}</title>
        <script src="https://unpkg.com/particle-bg/lib/particle-bg.umd.min.js"></script>
        <style>
           canvas {
               position: absolute;
               left:0;
               right:0;
               top:0;
               bottom:0;
            }
        </style>
    </head>
    <body>
        <ul class="mfe-container">
            {% for mfe in site.mfes %}
            <li class="card"><a href="{{ mfe.url }}">{{ mfe.title }}</a></li>
            {% endfor %}
        </ul>

        <script>
          particleBg('body',{
              zIndex:-1
          });
        </script>
    </body>
</html>
