<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }}</title>
    </head>
    <body>
        Felix.Zhu
        <ul>
            {% for collection in site.collections %}
            <li>{{ collection }}</li>
            {% endfor %}
        </ul>
        {% assign all_posts = "" | split: "" %}
{% for article in site.article %}
    {% assign all_posts = all_posts | push: article %}
{% endfor %}
{% for post in site.posts %}
    {% assign all_posts = all_posts | push: post %}
{% endfor %}
{% assign all_posts = all_posts | sort: date | reverse %}
    </body>
</html>
