---
layout: posts
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/css/main.css" />
        <script src="https://unpkg.com/particle-bg/lib/particle-bg.umd.min.js"></script>
        <style>
            #banner {
                height: 200px;
                widht: 100%;
                background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
            }
        </style>
    </head>
    <body>
        <div id="banner"></div>
        <ul class="ts-container">
            {% for ts in site.typescripts %}
            <li class="card">
                <a href="{{ ts.url }}"><span>{{ ts.title }}</span></a>
            </li>
            {% endfor %}
        </ul>

        <script>
            const ele = document.getElementById('banner')
          particleBg(ele);
        </script>
    </body>
</html>
